body {
  background-image: url(http://img1.liveinternet.ru/images/attach/c/3/76/61/76061697_33.jpg);
}

.jumbotron {
  background-color: #0e0e3f;
  border: 10px solid green;
}

p.topheader {
  color: gold;
  font-size: 30px;
  font-variant: small-caps;
}

.topheader-name {
  font-size: 40px;
  font-variant: small-caps;
}

p.intro {
  color: gold;
  font-size: 60px;
  font-variant: small-caps;
}

h1.projects {
  text-align: center;
  color: gold;
  font-variant: small-caps;
  border: 5px solid green;
  background-color: #0e0e3f;
  margin: 100px;
  margin-bottom: 30px;
}

ul.projects {
  border: 5px solid green;
  background-color: #0e0e3f;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

li {
  color: gold;
  padding: 4px;
}

h1.about-me {

}

p.about-me {
  color: gold;
  border: 5px solid green;
  background-color: #0e0e3f;
  padding: 10px


}
.csu-color {
  color: crimson;
}
