body {
  background-image: url(http://img1.liveinternet.ru/images/attach/c/3/76/61/76061697_33.jpg);
}

.jumbotron {
  background-color: #0e0e3f;
  border: 10px solid green;
  margin-top: 45px;
}

.jumbotron p a {
  background-color: gold;
  color: #0e0e3f;
}

.jumbotron li a {
  background-color: gold;
  color: #0e0e3f
}

.container {
  color: gold;
}

p.topheader {
  font-size: 50px;
  font-variant: small-caps;
}

.topheader-name {
  font-size: 60px;
  font-variant: small-caps;
}

ul.contactinfo {
  float: right;
  padding-top: 75px;
  margin-right: 250px;
}

p.intro {
  color: gold;
  font-size: 50px;
  font-variant: small-caps;
}

.projects li a {
  background-color: gold;
  color: #0e0e3f
}

h1.projects {
  text-align: center;
  font-variant: small-caps;
  font-size: 40px;
  border: 5px solid green;
  background-color: #0e0e3f;
  margin-bottom: 30px;
  margin-top: 150px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 10px;
}

ol.projects {
  border: 5px solid green;
  background-color: #0e0e3f;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

li {
  font-size: 20px;
  padding: 4px;
}

h1.about-me {
  border: 5px solid green;
  background-color: #0e0e3f;
  font-variant: small-caps;
  font-size: 40px;
  text-align: center;
  padding: 10px;
  margin-top: 200px;
  margin-bottom: 30px;
}

.the-about-me {
  font-size: 20px;
  border: 5px solid green;
  background-color: #0e0e3f;
  padding: 10px;
}

.the-about-me p a {
  background-color: gold;
}

p.about-me {
  text-indent: 30px;
}

br.indent {
  text-indent: 50px;
}
.csu-color {
  color: crimson;
  text-decoration: underline;
}

h2.interests {
  border: 5px solid green;
  background-color: #0e0e3f;
  font-variant: small-caps;
  font-size: 40px;
  text-align: center;
  padding: 10px;
  margin-top: 200px;
  margin-bottom: 30px;
}

ul.interests {
  font-size: 20px;
  width: 45%;
  border: 5px solid green;
  background-color: #0e0e3f;
  padding-top: 10px;
  padding-bottom: 10px;
  float: left;
}

ul.skills {
  font-size: 20px;
  width: 45%;
  border: 5px solid green;
  background-color: #0e0e3f;
  padding-top: 10px;
  padding-bottom: 10px;
  float: right;
}

@media screen and (max-width: 700px) {

.container {
  color: white;
  background-color: gold;
}

ul.contactinfo {
  float: none;
}
}
