.jumbotron {
  background-color: #0e0e3f;
  border: 3px solid green;
}

p.topheader {
  color: Green;
  font-size: 30px;
  font-variant: small-caps;
}

.topheader-name {
  font-size: 40px;
  font-variant: small-caps;
}

p.intro {
  color: Green;
  font-size: 60px;
  font-variant: small-caps;
}

h1.projects {
  text-align: center;
  color: green;
  border: 3px solid green;
  background-color: #0e0e3f;
  margin: 100px;
  margin-bottom: 30px;


}

ul.projects {
  border: 3px solid green;
  background-color: #0e0e3f;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

li {
  color: Green;
  padding: 4px;
}

body {
  background-image: url(http://img1.liveinternet.ru/images/attach/c/3/76/61/76061697_33.jpg);
}
